body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333435;
  text-align: left;
  background-color: #fff;
}

* {
   box-sizing: border-box; 
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #D35649;
}

.nav-menu {
    padding-right: 50px;
}

.rose {
    background-color: #E17F66;
}

.grey {
    background-color: #98A5A6;
}

.blue {
    background-color: #509BD7;
}

footer {
    background-color: #000000;
}

.third-line {
    background-color: #1F1F1F;
}

.first_line {
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.geo {
    border-radius: 50%;
    border: 1px solid white;
}

@media only screen and (max-width: 1024px) {
    .first-foot-line {
      font-size: xx-small;
    }
}

@media only screen and (max-width: 768px) {
   .nav-menu {
      justify-content: space-between !important;
      padding: 20px;
    }

    .nav-menu span {
      display: none;
    }
  
}

@media only screen and (max-width: 320px) {
    .nav-logo {
      justify-content: center !important;
    }

    .first_line {
        border: none;
    }
    
    .first-foot-line,
    .copyright {
      display: none;
    }

    .left-bottom {
        display: none;
    }

    .right-bottom {
        display: none;
    }

    .foot-bottom {
        justify-content: center !important;
    }
 }